* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0%;
  padding: 0%;
}

#flexible {
  background-color: rgba(255, 47, 0, 0.939);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navBorder {
  line-height: normal;
  border: 1px solid rgba(255, 47, 0, 0.939);
  background-color: rgba(255, 47, 0, 0.939);
  display: block;
  width: auto;
  /* overflow:auto; */
  height: 28px;
  color: white;
  font-size: large;
  font-weight: 300;

  top: 50%;
}

ul {
  list-style-type: none; /* TO REMOVE DOTS OF UNORDERED LIST */
  margin: 0px;
  padding: 0px;
  padding-top: 1%;
  letter-spacing: 1.5px;
}

ul li {
  padding-top: 1%;
  float: left;
  /* background-color: white; */
  line-height: 30px;
  width: 120px;
  text-align: center;

  border-radius: 100%;
  margin-right: 0px;
  float: right;
}

ul li a {
  color: rgba(255, 47, 0, 0.939);
  font-family: comic sans ms;
  font-size: 21px;
  font-weight: 545;
  text-decoration: none;
  display: block;
}

ul li a:hover {
  background-color: rgba(0, 0, 0, 0.958);
  font-weight: bold;
  border-radius: 100%;
  text-decoration: underline;
}

#logo {
  float: left;
  width: 270px;
  font-size: 20px;
  margin-top: 3px;

  list-style-type: none;

  float: left;
  /* background-color: white; */
}

#logo span {
  font-weight: 600;
  font-size: 45px;
  color: rgb(255, 0, 0);
}

ul li img {
  display: block;
  width: 230px;
  height: 70px;
  padding: auto;
  margin: auto;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;

  border: 1px solid rgba(255, 47, 0, 0.939);
  /* position: absolute; */

  border-radius: 100%;
}

nav {
  position: fixed;
  width: 100%;
}




  /*bharti*/
  .img_Container #img_Content .l5 {
    font-size: 20px;
    animation: zoomInDown 0.5s both ease;
    padding-left: 8rem;
    padding-right: 1rem;
    
  }
  /*bharti*/
  .img_Container #img_Content .l4 {
    font-size: 50px;
    animation: zoomInDown 0.5s both ease;
    padding-left: 10rem;
    padding-right: 1rem;
    color:rgb(213, 13, 30);
    font-family: "ubuntu", fantasy;
    text-decoration: underline;
    text-align: center;
  
  }
/*bharti*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 5px solid #555;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*bharti*/
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/* .navbar{
  z-index: 100;
} */





.navbar.sticky {
  margin-top: -4%;
  background-color: black;

  padding: 15px 0;
}

.navbar.sticky ul li a:hover {
  background-color: white;
}

.navbar.sticky #logo {
  color: white;
}

.img_Container {
  display: flex;
  background-image: url(../img/Donating.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100%;
  min-height: 500px;
  font-family: "ubuntu", sans-serif;
  text-transform: capitalize;
}

#img_Content div {
  font-weight: 600;
  font-style: italic;
}

.widthh {
  margin: auto 0 auto 40px;
}

.img_Container .widthh {
  /* margin: auto 0 auto 40px; */
}

.img_Container #img_Content .l2 {
  font-size: 27px;
  animation: zoomInDown 0.5s both ease;
  margin-left: 18px;
}

.img_Container #img_Content .l1 {
  font-size: 70px;
  font-weight: 600;
  margin-left: -3px;
  animation: zoomInDown 0.5s both ease;
}

.img_Container #img_Content .l3 {
  font-size: 24px;
  margin: 5px 0;
  animation: zoomInDown 0.5s both ease;
}

.button {
  padding: 15px;
  background-color: #f15a5a;
  border-radius: 35%;
}

#img_Content {
  color: red;
  /* width: 200px; */
  word-wrap: break-word;
  font-size: x-large;
  font-weight: bold;
  float: left;
  padding-top: 20px;
  color: black;

  font-family: "Courier New", Courier, monospace;
}

footer {
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-btn {
  color: rgba(255, 47, 0, 0.939);
  font-size: 30px;
  display: inline-block;
}

.menu-btn {
  z-index: 999;
  transition: all 0.5 ease;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
}
.menu-btn #ico.active::before {
  content: "\f00b";
  font-size: 31px;
  justify-content: center;
}

audio {
  display: none;
}

#menubtn{
  display: none;
  
}




@media (max-width: 524px) {
  #flexible {
    display: none;
  }
  .footer {
    min-width: 100%;
  }
}



@media (max-width: 840px) {

  .menu-btn {
    display: block;
    z-index: 9999999;
    transition: all 0.5 ease;
  }
  .menu-btn #ico.active::before {
    content: "\f00d";
  }

  #menu_right {
    position: fixed;
    display: flex;
 z-index: -100;
    height: 100vh;
    width: 100%;
  left: -100%;
    background: black;
    background-attachment: fixed;
    color: red;
    text-align: center;
    /* padding-top: 250px; */
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

 .navbar #menu {
  /* z-index: 100; */
    display: flex;
    color: red;
    width: 200px;
    text-align: center;
    align-items: center;
     margin-left: auto;
    margin-right: 36%;
    margin-top: auto;
    margin-bottom: auto;
    
  }

  .menu-b {
    display: block;
    padding: 8px 16px;
    margin: auto auto;

  }
 
.navbar #menu_right.active {
    left: 0;
}

#menu li {
  display: block;
  margin-bottom: 15px;
}

  #flexible {
    display: none;
  }

  #menubtn{
    display: block;
  }


.navbar #menu_right li {
    display: block;
    margin-bottom: 25px;
} 




.dropbtn {
  background-color: rgba(255, 47, 0, 0.939);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgba(255, 47, 0, 0.939);
  border-radius: 40%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border: 1px solid rgba(255, 47, 0, 0.939);
  border-radius: 40%;background-color: #f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 47, 0, 0.939);
}


.dropdown:hover, .dropdown:active{
  height:300px;
}

#Blood{
  background:rgba(255, 47, 0, 0.939) ;
  border: 1px solid rgba(255, 47, 0, 0.939);
  border-radius: 40%;
}
